body {
  color: rgb(65,75,86);
  font-family: arial;
  margin: 0px;
  background-color: rgb(52.9,80.8,98);
}

#navbar {
  background-color: rgb(52.9,80.8,98);
  background-image: none;
}

#navbar-head {
  color: white;
}

#navbarNavDropdown {
  justify-content: flex-end;
}

#navbarDropdownMenuLink {
  color: white;
}

h1 {
  font-family: "Comfortaa", Helvetica, Arial, sans-serif;
  color: #07374a;
  justify-content: center;
}

p {
  font-family: "Quattrocento", sans-serif;
  color: #f0f0e6;
  justify-content: center;
}

body > .container-fluid {
  padding: 300px 15px 0;
}
